<app-navbar [title]="'Company-Profile'"></app-navbar>

<div class="profile-container">
  <div class="cards-container">
    <div class="profile-card">
      <div class="profile-header">
        <div class="profile-info" *ngIf="company">
          <h2 class="username">{{ company.companyName }}</h2>
          <p class="email">{{ company.mobilePhoneNumber }}</p>
        </div>
        <button class="generate-code-button" (click)="openPopup()">Generate Code</button>
      </div>
      
      <div class="code-display" *ngIf="invitationCode">
        <p>Invitation Code:</p>
        <span class="code">{{invitationCode}}</span>
      </div>

      <div class="profile-bio">
        <h3>Bio</h3>
        <p>{{ company?.description }}</p>
      </div>

      <button class="edit-profile-button" (click)="editProfile()">Edit Profile</button>
    </div>

    <div class="applied-jobs-card">
      <h3>Advertised Jobs</h3>
      <div class="card-container" *ngIf="advertisedJobs">
        <app-job-card *ngFor="let job of advertisedJobs" [job]="job"></app-job-card>
      </div>

      <button class="new-job" (click)="newJob()">Add new Job</button>
    </div>
  </div>
</div>

<!-- Input Popup -->
<div *ngIf="isPopupVisible" class="popup-container">
  <div class="popup-content" *ngIf="!generated">
    <input #expinp type="text" [(ngModel)]="inputValue" placeholder="Enter Expiration Date" />
    <button (click)="closePopup()">Close</button>
    <button (click)="generateCode()">Generate</button>
  </div>
  <div class="popup-content" *ngIf="generated">
    <p>{{code}}</p>
    <button (click)="generateNew()"> Generate new code </button>
    <button (click)="closePopup()">Close</button>
  </div>
</div>
