<div class="overlay" [ngClass]="{'show': isVisible}" (click)="hidePopup()"></div>

<div class="popup" [ngClass]="{'show': isVisible}">
    <h2>Registration</h2>

    <div class="registration-type-selector">
        <button [class.active]="registrationType === 'user'" (click)="registrationType = 'user'"> Register as User </button>
        <button [class.active]="registrationType === 'company'" (click)="registrationType = 'company'"> Register as Company </button>
    </div>

    <!-- User registration form -->

    <div *ngIf="registrationType === 'user'" class="form-container">
        <div class="input-column">
        <div class="input-container">
           
            <input type="text" 
                [(ngModel)]="userData.firstName" 
                (focus)="clearError('firstName')" 
                (blur)="checkErrorOnBlur('firstName')" 
                placeholder="First Name">
            <div class="error-message" [style.visibility]="firstNameErrorVisible ? 'visible' : 'hidden'">
                First name is required
            </div>
        </div>

        <div class="input-container">
            <input type="text" 
                [(ngModel)]="userData.lastName" 
                (focus)="clearError('lastName')" 
                (blur)="checkErrorOnBlur('lastName')" 
                placeholder="Last Name">
            <div class="error-message" [style.visibility]="lastNameErrorVisible ? 'visible' : 'hidden'">
                Last name is required
            </div>
        </div>

        <div class="input-container">
            <input type="text" 
                [(ngModel)]="userData.email" 
                (focus)="clearError('email')" 
                (blur)="checkErrorOnBlur('email')" 
                placeholder="email@example.com">
            <div class="error-message" [style.visibility]="userEmailErrorVisible ? 'visible' : 'hidden'">
                Email is required
            </div>
        </div>

        <div class="input-container">
            <input type="password" 
                   [(ngModel)]="userData.password" 
                   (focus)="clearError('userPassword')"
                   (blur)="checkErrorOnBlur('userPassword')"
                   placeholder="Password">
            <div class="error-message" [style.visibility]="userPasswordErrorVisible ? 'visible' : 'hidden'">
              Password must be at least 5 characters
            </div>
          </div>
          
        <div class="input-container">
            <input type="password" 
                [(ngModel)]="userData.confirmPassword" 
                (focus)="clearError('userConfirmPassword')"
                (blur)="checkErrorOnBlur('userConfirmPassword')"
                placeholder="Confirm Password">
            <div class="error-message" [style.visibility]="userConfirmPasswordErrorVisible ? 'visible' : 'hidden'">
                Please confirm your password
            </div>
            <div class="error-message" [style.visibility]="passwordMatchErrorVisible ? 'visible' : 'hidden'">
                Passwords do not match
            </div>
        </div>
        </div>
        <div class="input-column">
        <div class="input-container">
            
            <input type="text" 
                [(ngModel)]="userData.birthDate" 
                (focus)="clearError('birthDate')" 
                (blur)="checkErrorOnBlur('birthDate')" 
                placeholder="yyyy.mm.dd">
            <div class="error-message" [style.visibility]="birthDateErrorVisible ? 'visible' : 'hidden'">
                Birth date is required
            </div>
        </div>

        <div class="input-container">
            <input type="text" 
                [(ngModel)]="userData.birthPlace" 
                (focus)="clearError('birthPlace')" 
                (blur)="checkErrorOnBlur('birthPlace')" 
                placeholder="City">
            <div class="error-message" [style.visibility]="birthPlaceErrorVisible ? 'visible' : 'hidden'">
                Birth place is required
            </div>
        </div>

        <div class="input-container">
            <input type="text" 
                [(ngModel)]="userData.postalCode" 
                (focus)="clearError('postalCode')" 
                (blur)="checkErrorOnBlur('postalCode')" 
                placeholder="postalCode">
            <div class="error-message" [style.visibility]="postalCodeErrorVisible ? 'visible' : 'hidden'">
                Postal code is required
            </div>
        </div>

        <div class="input-container">
            <input type="text" 
                [(ngModel)]="userData.city" 
                (focus)="clearError('city')" 
                (blur)="checkErrorOnBlur('city')" 
                placeholder="city">
            <div class="error-message" [style.visibility]="cityErrorVisible ? 'visible' : 'hidden'">
                City is required
            </div>
            </div>
        </div>
    </div>

    <!-- Company registration form -->

    <div *ngIf="registrationType === 'company'" class="form-container">

        <div class="input-column">
        <div class="input-container">
            <input type="text" 
                [(ngModel)]="companyData.name" 
                (focus)="clearError('companyName')" 
                (blur)="checkErrorOnBlur('companyName')" 
                placeholder="Company Name">
            <div class="error-message" [style.visibility]="companyNameErrorVisible ? 'visible' : 'hidden'">
                Company name is required
            </div>
        </div>

        <div class="input-container">
            <input type="password" 
                   [(ngModel)]="companyData.password" 
                   (focus)="clearError('companyPassword')"
                   (blur)="checkErrorOnBlur('companyPassword')"
                   placeholder="Password">
            <div class="error-message" [style.visibility]="companyPasswordErrorVisible ? 'visible' : 'hidden'">
                Password must be at least 5 characters
            </div>
        </div>
          
        <div class="input-container">
            <input type="password" 
                [(ngModel)]="companyData.confirmPassword" 
                (focus)="clearError('companyConfirmPassword')"
                (blur)="checkErrorOnBlur('companyConfirmPassword')"
                placeholder="Confirm Password">
            <div class="error-message" [style.visibility]="companyConfirmPasswordErrorVisible ? 'visible' : 'hidden'">
                Please confirm your password
            </div>
            <div class="error-message" [style.visibility]="passwordMatchErrorVisible ? 'visible' : 'hidden'">
                Passwords do not match
            </div>
        </div>
    </div>

    <div class="input-column">
        <div class="input-container">
            <input type="text" 
                   [(ngModel)]="companyData.email" 
                   (focus)="clearError('companyEmail')"
                   (blur)="checkErrorOnBlur('companyEmail')"
                   placeholder="Password">
            <div class="error-message" [style.visibility]="companyEmailErrorVisible ? 'visible' : 'hidden'">
                Email is required
            </div>
        </div>

        <div class="input-container">
            <select [(ngModel)]="companyData.type"
                (focus)="clearError('companyType')"
                (blur)="checkErrorOnBlur('companyType')">

                <option value="">Select Company Type</option>
                <option value="bt">BT</option>
                <option value="kft">KFT</option>
                <option value="zrt">ZRT</option>
            </select>
            <div class="error-message" [style.visibility]="companyTypeErrorVisible ? 'visible' : 'hidden'">
                Company type is required
            </div>
        </div>

        <div class="input-container">
            <input type="tel" 
                [(ngModel)]="companyData.phone" 
                (focus)="clearError('companyPhone')"
                (blur)="checkErrorOnBlur('companyPhone')"
                placeholder="Phone Number">
            <div class="error-message" [style.visibility]="companyPhoneErrorVisible ? 'visible' : 'hidden'">
                Phone number is required
            </div>
        </div>
      
        <div class="input-container">
            <input type="text" 
                [(ngModel)]="companyData.address" 
                (focus)="clearError('companyAddress')"
                (blur)="checkErrorOnBlur('companyAddress')"
                placeholder="Mailing Address">
            <div class="error-message" [style.visibility]="companyAddressErrorVisible ? 'visible' : 'hidden'">
                Address is required
            </div>
        </div>
      
        <div class="input-container">
            <input type="text" 
                [(ngModel)]="companyData.contactPerson" 
                (focus)="clearError('contactPerson')"
                (blur)="checkErrorOnBlur('contactPerson')"
                placeholder="Contact Person">
            <div class="error-message" [style.visibility]="contactPersonErrorVisible ? 'visible' : 'hidden'">
                Contact person is required
            </div>
        </div>
    </div>
</div>

    <button (click)="register()" [disabled]="!isFormValid()">Register</button>
    <button class="close-btn" (click)="hidePopup()">Back to Login</button>
</div>