<app-navbar [title]="'Profile'"></app-navbar>

<div class="profile-container">
  <div class="cards-container">
    <div class="profile-card">
      <div class="profile-header">
        <img class="profile-picture" [src]="profile.image" alt="Profile Picture" />
        <div class="profile-info">
          <h2 class="username">{{ profile.name }}</h2>
          <p class="email">{{ profile.email }}</p>
        </div>
      </div>

      <div class="profile-bio">
        <h3>Bio</h3>
        <p>{{ profile.bio }}</p>
      </div>

      <button class="edit-profile-button">Edit Profile</button>
    </div>

    <div class="applied-jobs-card">
      <h3>Applied Jobs</h3>
      <div class="card-container" *ngIf="jobs">
        <app-job-card *ngFor="let job of jobsteszt" [job]="job"></app-job-card>
        <!--jobsteszt -> jobs-->
      </div>
    </div>
  </div>
</div>
